<% var plantRateSum = 0;  %>
<% var fecha = "";  %>
<% var fechaentrega = "";  %>
<% var idorder = "";  %>
<% var quantity = 0;  %>
<html>

<head>
    <title>EJS to PDF Example</title>
    <style>
        .table {
            width: 100%;
            border: solid 1px black;
        }
        .table-footer {
            width: 50%;
            border: solid 1px black;
            float: right;
        }

        .header {                                                                                                          
            font-size: 30px;                                                                                               
            font-weight: bold;
        }                                                                                                                  
        .row {                                                                                                             
            width: 100%;                                                                                                   
            font-size: 30px;                                                                                               
            font-weight: 200;                                                                                              
        }                                                                                                                  
                                                                                                                           
        .row > td, .header > th {                                                                                          
            width: 33%;                                                                                                    
        }                                                                                                                  
        .title{                                                                                                            
            text-align: center;                                                                                            
        }                                                                                                                  
    </style>                                                                                                               
</head>                                                                                                                    
<body>                                                                                                                     
    <table class="table">                                                                                                  
        <thead class="header">                                                                                             
            <th>                                                                                                           
               ID                                                                                                          
            </th>                                                                                                          
            <th>
               Nombre                                                                                                      
            </th>                                                                                                          
            <th>                                                                                                           
               Articulo                                                                                                    
            </th>                                                                                                          
            <th>                                                                                                           
               Tipo de Servicio                                                                                            
            </th>                                                                                                          
            <th>                                                                                                           
                Precio                                                                                                     
            </th>                                                                                                          
        </thead>                                                                                                           
        <tbody>                                                                                                            
                <tr class="row">                                                                                           
                        <br/>                                                                                              
                        <br/>                                                                                              
                        <br/>                                                                                              
                        <br/>                                                                                              
                        <br/>                                                                                              
                        <br/>                                                                                              
                        <h1 class="title" style="font-size:50px;">LAVANDERIA PLANCHAKI</h1>                                  
                        <h5 class="title" style="font-size:20px;" >Calle. Desiderio Arias esq Juan Miguel Roman</h5>
                        <h4 class="title" style="font-size:20px" >Bella Vista, Sto. Dgo.</h4>                
                        <h5 class="title" style="font-size:40px" >Tel.: 809 638-9999</h5>                                  
                        <h5 class="title" style="font-size:20px" >Horario Lunes a Viernes 7:30am a 7:00pm</h5>             
                        <h5 class="title" style="font-size:20px" >Sabado 8:00am a 1:00pm</h5>                              
                        <h5 class="title" style="font-size:20px" >RNC: 131473865</h5>                                       
                </tr>                                                                                                      
             <% item.forEach(function (employee,index) { %>                                                                
                <tr class="row">                                                                                           
                    <td>                                                                                                   
                        <%= index %>                                                                                       
                    </td>                                                                                                  
                    <td style="font-weight: bold !important;"  >                                                           
                        &nbsp;&nbsp;<%= employee.firstname %>                                                              
                    </td>                                                                                                  
                    <td>                                                                                                   
                        <%= employee.item %>                                                                               
                    </td>                                                                                                  
                    <td>                                                                                                   
                        <%= employee.development %>                                                                        
                    </td>                                                                                                  
                    <td>                                                                                                   
                        <%= employee.project %>
                    </td>                                                                                                  
                    <% plantRateSum += employee.project %>                                                                 
                    <% fecha = employee.date %>                                                                            
                    <% fechaentrega = employee.fechaentrega %>                                                             
                    <% idorder = employee.id %>                                                                            
                    <% quantity += employee.quantity %>                                                                    
                </tr>                                                                                                      
            <% })%>                                                                                                        
        </tbody>                                                                                                           
    </table>                                                                                                               
    <br/>                                                                                                                  
    <table class="table-footer">                                                                                           
        <thead class="header">                                                                                             
            <th>                                                                                                           
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                           
            </th>                                                                                                          
            <th style="font-size:30px !important;"  >                                                                      
                Total                                                                                                      
            </th>                                                                                                          
            <th style="font-size:25px !important;"  >                                                                      
                <%= plantRateSum %>                                                                                        
            </th>
        </thead>                                                                                                           
    </table>                                                                                                               
    <br/>
    <table class="table-footer">                                                                                           
        <thead class="header">                                                                                             
            <th>                                                                                                           
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                           
            </th>                                                                                                          
            <th style="font-size:30px !important;"  >                                                                      
                Forma
            </th>                                                                                                          
            <th style="font-size:25px !important;"  >                                                                      
                <%= plantRateSum %>                                                                                        
            </th>
        </thead>                                                                                                           
    </table>                                                                                                               
<br/>                                                                                                                      
<br/>                                                                                                                      
<h1>&nbsp;</h1>                                                                                                            
<br/>                                                                                                                      
<br/>                                                                                                                      
<h2>&nbsp;&nbsp;&nbsp; No. Orden   <%= idorder %></h2>                                                                     
<h2>&nbsp;&nbsp;&nbsp; Fecha recibido   <%= fecha %></h2>                                                                  
<h2>&nbsp;&nbsp;&nbsp; Fecha entrega   <%= fechaentrega %></h2>                                                            
<h2>&nbsp;&nbsp;&nbsp; Cantidad de piezas   <%= quantity %></h2>                                                           
<h5>&</h5>                                                                                                                 
<br/>                                                                                                                      
<h1>&nbsp;</h1>                                                                                                            
<h3>&nbsp;&nbsp;Gracias por preferirnos</h3>                                                                               
<br/>                                                                                                                      
<br/>                                                                                                                      
</body>                                                                                                                    
</html>    